<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Funds</title>
    <script src="https://js.braintreegateway.com/web/3.76.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.76.0/js/dropin.min.js"></script>
</head>
<body>
    <h1>Add Funds</h1>
    <p><a href="{{ url_for('views.home') }}">Check Balance</a></p> 
    <p><a href="{{ url_for('views.home') }}">Return to Home Page</a></p> <!-- Link to Home Page -->


    <form method="POST" action="{{ url_for('views.balance') }}" id="payment-form">
        <input type="text" name="amount" placeholder="Enter amount" required>
        
        <select name="payment_method" id="payment-method" required>
            <option value="braintree">Braintree</option>
            <option value="credit_card">Credit Card</option>
        </select>

        <div id="dropin-container"></div>

        <input type="submit" value="Add Funds">
    </form>

    <script>
        var form = document.getElementById('payment-form');
        
        // Gauti klientų tokeną iš serverio
        fetch('/client_token')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                braintree.dropin.create({
                    authorization: data.client_token,
                    container: '#dropin-container'
                }, function (createErr, instance) {
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        instance.requestPaymentMethod(function (err, payload) {
                            if (err) {
                                console.error(err);
                                return;
                            }
                            // Pridėti nonce į formą ir pateikti
                            var nonceInput = document.createElement('input');
                            nonceInput.setAttribute('type', 'hidden');
                            nonceInput.setAttribute('name', 'payment_method_nonce');
                            nonceInput.setAttribute('value', payload.nonce);
                            form.appendChild(nonceInput);
                            form.submit();
                        });
                    });
                });
            });
    </script>
</body>
</html>