{% extends "base.html" %} 

{% block title %}{{ user.first_name }} Orders Page{% endblock %}

{% block content %}

<h1>User Orders</h1>
<h2>User Information</h2>
<p>User ID: {{ user.id }}</p>
<p>Email: {{ user.email }}</p>
<p>First Name: {{ user.first_name }}</p>

<h2>My Cart</h2>
<form id="orderForm" method="POST" action="/FinalizingOrder">
    {% for component in components_list %}
    <div class="component-container">
        <img class="component-image" src="{{ url_for('static', filename='images/' + component.image_url) }}" alt="{{ component.name }}">
        <h2 class="component-name">{{ component.name }}</h2>
        <p class="component-description">{{ component.description }}</p>
        
        <p class="component-price">Price: {{ currencySymbol }} {{ "{:.2f}".format(component.price * currencyMultiplier * (component.priceModifier if component.isOnSale else 1)) }}</p>
        
        <p class="component-stock">Available: {{ ID_counter[component.id] }}</p>
        <p class="component-stock">ID: {{ component.id }}</p>
        
        <label for="quantity_{{ component.id }}">Quantity:</label>
        <input type="number" id="quantity_{{ component.id }}" name="quantity_{{ component.id }}" min="1" max="{{ ID_counter[component.id] }}" value="1" required>
        <input type="hidden" name="component_id" value="{{ component.id }}">
    </div>
    {% endfor %}
    
    <!-- Display the total price rounded to two decimal places -->
    <p class="component-stock">Total Price: {{ currencySymbol }} {{ "{:.2f}".format(sum1) }}</p>

    <button type="submit">Order Selected products</button>
</form>

<h3><a class="text-background" href="/DeleteFromCart">Delete from Cart</a></h3>

{% endblock %}