{% extends "base.html" %} 

{% block title %}Catalog{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design.css') }}">
{% endblock %}

{% block content %}
<style>
body {
  background-color: rgb(245, 143, 75);
}
.component-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: white;
}
.component-image {
  max-width: 100%;
  height: auto;
}
.sale-tag {
  color: red;
  font-weight: bold;
}
</style>

<h1 class="page-title">Products Catalog</h1>

{% for component in components %}
    <div class="component-container">
        <img class="component-image" src="{{ url_for('static', filename='images/' + component.image_url) }}" alt="{{ component.name }}">
        <h2 class="component-name">{{ component.name }}</h2>
        <p class="component-description">{{ component.description }}</p>
        <p class="component-price">Price: {{ currencySymbol }} {{ (component.price * currencyMultiplier * component.priceModifier) | round(2) }}</p>
        <p class="component-stock">Stock: {{ component.stock }}</p>
        <p class="component-id">ID: {{ component.id }}</p>
        
        {% if component.isOnSale %}
            <div class="sale-tag">On Sale!</div>
        {% endif %}
        
        <form method="POST" action="{{ url_for('views.catalog') }}">
            <input type="hidden" name="CompoID" value="{{ component.id }}">
            <button type="submit" name="order">To buy this product!</button>
        </form>
    </div>
{% endfor %}
{% endblock %}

{% block javascript %}
{% endblock %}