{% extends "base.html" %}

{% block link %}
<!-- Čia galite pridėti papildomų CSS ar JavaScript nuorodų, jei reikia -->
{% endblock %}

{% block title %}
Select Comments
{% endblock %}

{% block content %}
<h1>Comments</h1>
    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li>
                    {{ comment.comment_data }} - User ID: {{ comment.user_id }} - Date: {{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments found.</p>
    {% endif %}
{% endblock %}