{% extends "base.html" %}

{% block title %}
View Components
{% endblock %}

{% block content %}
<h1>Components</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for component in components %}
        <tr>
            <td>{{ component.name }}</td>
            <td>{{ component.description }}</td>
            <td>{{ component.price }}</td>
            <td>
                {% if component.image_url %}
                    <img src="{{ component.image_url }}" alt="{{ component.name }}" style="width: 100px; height: auto;">
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>{{ component.stock }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'views.add_component' %}" class="btn btn-primary">Add a New Component</a>
{% endblock %}